
body{
    font-family: "Poppins", sans-serif;
    background-color: #f7f7ff;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}
h1, h2 {
    color: #4a148c;
}
.color-sample {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    margin: 10px 0;
}

/* Individual colors */
.color-sample.purple {
    background: #4A148C;
}

.color-sample.teal {
    background: #009688;
}

.color-sample.lavender {
    background: #EDE7F6;
}
