@media screen and (min-width: 768px) {
    #hamburger {
        display: none; /* hide hamburger on large screens */
    }

    nav {
        display: flex; /* horizontal nav on large screens */
        flex-direction: row;
        gap: 15px;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    header h2 {
        font-size: 2rem;
    }
}
