*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --font-family: "Roboto", sans-serif;
    --background-color: rgba(76, 0, 255, 0.253);
    --max-width: 640px;

}
header, main, footer{
    max-width:var(--max-width);
    margin:1rem auto;
    border:1px solid #bbb;
    padding: 1rem;
    background-color: rgba(0, 0, 255, 0.363);
    
}
body{
    font-family:var(--font-family)
}
h1{
    text-align: center;
}
main{
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
}
section {
    padding:1rem;
    background-color:white;
}
h2{
    padding:10px
}
